@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!-- HOME PAGE -->
<!-- BACKGROUND UNO PICTURE -->
<head>
        <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true"/>
    <style>
        body {
            margin: 0; /* Remove default margin */
            padding: 0; /* Remove default padding */
            background-image: url('https://cdn.akamai.steamstatic.com/steam/apps/470220/capsule_616x353.jpg?t=1680017426'); /* Replace 'your-image.jpg' with the path to your image */
            background-size: cover; /* Cover the entire viewport */
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
        }
    </style>
</head>
<body><!-- BUTTON THAT DIRECTS TO GAME CREATE PAGE -->
<form method="post">
    <div>
        <input type="hidden" value="true"/>
        <a asp-page="Games/Create" class="button-45"  id="startGame" class="btn btn-primary">New Game</a>
    </div>
</form>
</body>

