@page
@model WebApp.Pages_Players.EditModel

@{
    ViewData["Title"] = "Edit";
}
<!-- PLAYER EDIT PAGE -->
<!-- NAME AND TYPE ARE CHANGEABLE -->
<h1>Edit</h1>

<h4>@Model.Player.NickName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Player.NickName" class="control-label"></label>
                <input asp-for="Player.NickName" class="form-control" />
                <span asp-validation-for="Player.NickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="radio" asp-for="Player.PlayerType" value="Ai"/>  AI
                <input type="radio" asp-for="Player.PlayerType" value="Human"/>  Human
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Player.GameId" />
            </div>
            <input type="hidden" asp-for="Player.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
